{% extends "base.html" %}
{% load static %}
{% block title %}Gagner des Coins{% endblock %}

{% block content %}
<div class="profile-container mt-3">

  <h2>Choisissez l'option :</h2>

  {% for platform in platforms %}
    <div class="platform-section {{ platform.name|lower }}">
      <button class="platform-toggle">{{ platform.display_name }}</button>
      <div class="platform-tasks">
        <form method="post" action="{% url 'exchange:submit_task' %}">
          {% csrf_token %}
          {% for action in platform.actions %}
            <input type="url" name="{{ platform.name }}_{{ action.name }}_link"
                   placeholder="{{ action.label }}">
          {% endfor %}
          <button type="submit">Soumettre {{ platform.display_name }}</button>
        </form>
      </div>
    </div>
  {% endfor %}

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
